/* Material */
.contentMaterial{

    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}
.imgMaterial{
    display: flex;
    width: 200px;
    height: auto;
}