/* Material */
.contentMaterial{

    background-color: $color_fondo1;
    
    color: $color_letra2;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;

    .imgMaterial{
        display: flex;
        width: 200px;
        height: auto;
    }
}
