/* Nosotros */
.divNos{
    display:grid;
    background-color: black;
    .nosotros{ color: $color_border1}
    
    .h2Nos{
        display: inline-block;
        width: 200px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 50px;
        padding: 10px;
        color: gold;
   }
    .p-text{
        display: flex;
        color: $color_letra2;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 8px;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        margin: 10px;
    }
    .imgNos{
        display: flex;
        height: 25%;
        width: 25%;
    }
    
}

