/* Preguntas Frecuentes */

.preg{
    padding: 10px;
    margin: 5px;
    border-radius: 2px solid;
    background-color: #000;
   
    
}
.h2Preg{
    color: darkred;
    padding: 5px;
    margin: 5px;
}
.h4Preg{
    color: rgb(50, 50, 50);
    
    padding: 5px;
    margin: 5px;
}