/* Servicios */

.contentServi{
    background-color: rgb(17, 16, 16);
}

.h2Serv{
    margin: 5px;
    font-size: 30px;

color: var($color_letra1) ;
}
.h4Servi{
    color: (var($color_letra2));
}

/* Pasar a limpio las propiedades y valores en comun entre los content de Ser , Mat, Nos , Preg. 
 *//*  */