/* Variables */
$color_letra1: rgb(120, 10, 10);
$color_letra2: rgb(50, 50, 50);
$color_fondo1: background-color rgb(20, 20, 20);
$color_fondo2: background-color rgb(218, 165, 32);
$color_border1: rgb(140, 0, 0,);
