/* Generico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
.h1_pages {
  font-size: 40px;
  font-family: cursive;
  padding: 20px;
  color: grey;
  text-align: start;
}

/* header */
header {
  display: grid;
  background-color: black;
  width: 100%;
}
header .contenedor_img {
  display: flex;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 50px;
  justify-self: end;
}
header .contenedor_img .whap2 {
  display: flex;
  justify-self: end;
  height: 50px;
  width: auto;
  margin: 10px;
  opacity: 0.8;
  border-radius: 8px;
  position: fixed;
  box-shadow: 3px 3px 2px;
  z-index: 5;
}
header .encabezadoHome {
  background-color: black;
  width: 100%;
}
header .encabezadoHome .logo {
  display: inline;
  width: auto;
  margin: 15px;
  height: 100px;
}
header .encabezadoHome .tituloAvenida {
  display: inline;
  width: 300px;
  margin: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 50px;
  color: gold;
}
header .navbar .nav_estilo {
  background-color: black;
  font-size: 25px;
}
header .navbar #barraNav {
  display: grid;
  text-decoration: none;
  list-style: none;
  font-family: "Mate", serif;
  justify-self: end;
}
header .navbar #barraNav .barra {
  display: flex;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: rgb(230, 90, 90);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  text-align: end;
}
header .navbar #barraNav .barra:hover {
  color: rgb(200, 200, 200);
  border: 2px solid gray;
}

/* home */
.sectionIndex {
  width: -moz-max-content;
  width: max-content;
  display: grid;
  background-color: black;
  color: white;
  align-content: center;
  padding: 5px;
}
.sectionIndex .textHome {
  font-family: "Bilbo", cursiva;
  font-size: 35px;
  margin-left: 30px;
  margin-top: 30px;
}
.sectionIndex .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  width: 100vmax;
}
.sectionIndex .container .box {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 400px;
  height: 350px;
  margin: 20px;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 20px;
  background-color: black;
  border: 2px solid rgb(0, 140, 23);
  align-items: center;
}
@media (max-width: 768px) {
  .sectionIndex .container .box .box {
    width: 100%;
  }
}
.sectionIndex .divFrase {
  width: 90%;
  display: grid;
  justify-content: center;
}
.sectionIndex .divFrase .frase {
  display: inline-block;
  justify-content: center;
  padding: 2px;
  color: black;
  background-color: gold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nosotros */
.divNos {
  display: grid;
  background-color: black;
}
.divNos .nosotros {
  color: rgb(0, 140, 23);
}
.divNos .h2Nos {
  display: inline-block;
  width: 200px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  padding: 10px;
  color: gold;
}
.divNos .p-text {
  display: flex;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
}
.divNos .imgNos {
  display: flex;
  height: 25%;
  width: 25%;
}

/* Servicios */
.contentServi {
  background-color: black;
}
.contentServi .conten_Cursos {
  border: 5px;
  text-justify: auto;
}
.contentServi .h2Serv {
  margin: 10px;
  font-size: 30px;
  color: rgb(150, 40, 40);
}
.contentServi .h4Servi {
  margin: 10px;
  font-size: 15px;
  color: darkblue;
}
.contentServi .p-text {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.contentServi .imgServ {
  max-width: 50%;
  margin-left: 50px;
  justify-content: center;
  align-content: center;
}

/* Material */
.contentMaterial {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}
.contentMaterial .imgMaterial {
  display: flex;
  width: 200px;
  height: auto;
}

/* Preguntas Frecuentes */
.preg {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: black;
}
.preg .h2Preg {
  color: rgb(40, 185, 40);
  padding: 5px;
  margin: 5px;
}
.preg .h4Preg {
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}
.preg .p-text__preg {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}

/* Footer */
.Redes {
  height: 300px;
  width: 100vmax;
  display: grid;
  background-color: gold;
  padding: 10px;
}
.Redes .logoFooter {
  display: inline-block;
  width: 100px;
  padding: 5px;
  margin: 2px;
}
.Redes .listRedes {
  display: flex;
  width: 300px;
  border-radius: 5px;
  list-style: none;
}
.Redes .listRedes .iconRedes {
  display: inline-block;
  width: 50px;
  height: auto;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  list-style: none;
  text-decoration: none;
}
.Redes .horario {
  font-size: 20px;
  color: #000;
  padding: 10px;
}
.Redes .ubicacion {
  display: flex;
  list-style: none;
  text-decoration-style: none;
  color: #000;
  padding: 10px;
}/*# sourceMappingURL=main.css.map */